section.section-galey{
    height: 75vh;
    width: 100%;
}

header.header-galery{
    display: grid;
    place-content: center;
}

.galery{
    height: 100%;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    background: var(--clr--glass);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.content-galery{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.fotos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    row-gap: 30px;
    place-items: center;
    overflow-y: auto;
    padding: 25px 10px;
}

img.foto{
    width: 90%;
    height: auto;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px var(--clr--principal));
}

@media (max-width: 600px) {
    div.fotos{
        grid-template-columns: repeat(2, 50%);
        padding: 10px;
    }

    img.foto{
        width: 90%;
        height: auto;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 5px var(--clr--principal));
    }
}