@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./home.css');
@import url('./galery.css');
@import url('./services.css');
@import url('./about.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr--black: rgb(4, 4, 4);
    --clr--principal: #FFC700;
    --clr-text: #FFDD64;
    --clr--hover: #C69A00;
    --clr--white: #fff;
    --clr--glass: #ffc40059;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url('../imgs/fundo\ falcões.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: top right;
    background-color: var(--clr--black);
}

header {
    position: relative;
    top: 0;
    left: 0;
    height: 20vh;
}

nav.navbar {
    display: flex;
    justify-content: right;
    position: relative;
    top: 5vh;
}

nav.navbar ul {
    position: relative;
    right: 0;
    top: 0;
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    padding: 0 7px;
    background-color: var(--clr--principal);
    border-radius: 15px 0 0 15px;
    box-shadow: 0px 0px 15px 0px var(--clr--principal);
    border: none;
}

.navbar li {
    list-style: none;
    height: 80%;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background-color: var(--clr--hover);
    border-radius: 10px;
}

.navbar li:hover::after {
    width: 100%;
    transition: all .5s ease;
}

.navbar li:hover a {
    color: var(--clr--white);
    z-index: 1;
    transition: all .3s ease;
}

a {
    text-decoration: none;
    color: #000;
}

.pagina-atual{
    background-color: var(--clr--hover);
}

.pagina-atual a{
    color: var(--clr--white);
}

footer.footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    display: grid;
    place-content: center;
}

.footer p,
.footer p a {
    font-size: 100;
    font-weight: 200;
    color: var(--clr--white);
}

@media (max-width: 600px) {
    body{
        background-size: auto;
    }

    nav.navbar ul{
        width: 90%;
    }
}