section.section-servicos{
    height: 75vh;
    width: 100%;
}

div.content-servicos{
    height: 100%;
    width: 95%;
    margin: auto;
    display: flex;
    column-gap: 10px;
}

.servicos-kick,
.servicos-boxe{
    background-color: var(--clr--glass);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.servicos{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

@media (max-width: 600px) {
    .servicos-boxe,
    .servicos-kick{
        overflow: hidden;
        width: 90%;
        align-self: center;
    }

    .content-servicos{
        flex-direction: column;
        row-gap: 20px;
    }
}